<form action="/search" method="GET">

    <div>
        <label for="app_cat">Application Categories</label>
    </div>

    <select name="app_cat" id="app_cat">
        {{#each category}}
        <option value="{{this.category}}">{{this.category}}</option>
        {{/each}}
    </select>

    <button type="submit">Submit</button>
</form>